node_modules/
.expo/
.expo-shared/
dist/
web-build/
.env
.env.*

ios/Pods
ios/build
ios/.xcode.env.local
android/.gradle
android/build
android/app/build
android/local.properties
*.jks
*.p8
*.p12
*.key
*.mobileprovision

*.tsbuildinfo
.metro-health-check*

.DS_Store
Thumbs.db
.idea/
.vscode/
