# Expo / Node
node_modules/
.expo/
.expo-shared/
dist/
web-build/
.env
.env.*
!.env.example

# Native
ios/Pods
ios/build
ios/.xcode.env.local
android/.gradle
android/build
android/app/build
android/app/release
android/local.properties
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro / Babel / TS
.metro-health-check*
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
